<?xml version="1.0" encoding="UTF-8"?>
<ucmpage customtransformer="HeaderTransformer">
    <backgroundheader>
        <html>
            <meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
            <meta name="description" content="UBC University Christian Ministries" /> 
            <meta name="keywords" content="ubc, university, christian, student, club, bible, study, worship, prayer, church" />
            <link type="text/css" rel="stylesheet" href="http://www.ubc.ucmonline.ca/stylesheets/global.css"></link>
            <link type="text/css" rel="stylesheet" href="http://www.ubc.ucmonline.ca/stylesheets/smoothgallery/jd.gallery.css"></link>
            <link type="text/css" rel="stylesheet" href="http://www.ubc.ucmonline.ca/stylesheets/tabs/tabs.css"></link>
            <link type="text/css" rel="stylesheet" href="http://www.ubc.ucmonline.ca/stylesheets/mediabox/mediaboxAdvWhite.css"></link>
            
            <!--[if lte IE 9]><script src="http://www.ubc.ucmonline.ca/javascript/suckerfish_ie.js" type="text/javascript"></script><![endif]-->
            <script src="http://www.ubc.ucmonline.ca/javascript/mootools-1.2.1-core-yc.js" type="text/javascript"></script>
            <script src="http://www.ubc.ucmonline.ca/javascript/mootools-1.2-more.js" type="text/javascript"></script>
            <script src="http://www.ubc.ucmonline.ca/javascript/smoothgallery/jd.gallery.js" type="text/javascript"></script>
            
            <script src="http://www.ubc.ucmonline.ca/javascript/tabs/yetii-min.js" type="text/javascript"></script>            
            
            <script src="http://www.ubc.ucmonline.ca/javascript/slideshow/backgroundslideshow.js" type="text/javascript"></script>
            
            <script src="http://www.ubc.ucmonline.ca/javascript/mediabox/mediabox.js" type="text/javascript"></script>
                        
            <title>UCM @ UBC</title>
        </html>
    </backgroundheader>
    
    <visibleheader>
        <html>
            <div id="header">
                <a href="http://www.ubc.ucmonline.ca/">
                    <div id="headerimage"></div>
                    <div id="logo"></div>
                </a>
            </div>
        </html>
    </visibleheader>
</ucmpage>