<?xml version="1.0" encoding="UTF-8"?>
<ucmpage customtransformer="NavigationTransformer">
    <imageitem src="images/sitedesign/navigation/nav_connect_combo_v2.png">
        <subitem title="Core Groups" url="connect/cores.html">
            
        </subitem>
        <subitem title="Thursday Nights" url="connect/thursdaynights.html">
            
        </subitem>
        <subitem title="International Alpha" url="connect/internationalalpha.html">
            
        </subitem>
        <subitem title="Prayer Groups" url="connect/prayer.html">
            
        </subitem>
        <subitem title="Service Opportunities" url="connect/serve.html">
            
        </subitem>
        <subitem title="Classes" url="connect/learn.html">
            
        </subitem>
        <subitem title="Sports Teams" url="connect/sportsteams.html">
            
        </subitem>
    </imageitem>
    <imageitem src="images/sitedesign/navigation/nav_events_combo_v2.png">
        <subitem title="Calendar" url="events/calendar.html">
            
        </subitem>
        <subitem title="UCM Email" url="events/ucmemail.html">
            
        </subitem>
        <subitem title="Fall Retreat" url="events/fallretreat.html">
            
        </subitem>
        <subitem title="Winter Retreat (Emerge)" url="http://ucmonline.ca/Emerge/emerge.html">
            
        </subitem>
        <subitem title="Mexico Trip" url="events/mexicotrip.html">
            
        </subitem>
        <subitem title="Summit Training" url="events/summit.html">
            
        </subitem>    
    </imageitem>
    <imageitem src="images/sitedesign/navigation/nav_resources_combo_v2.png">
        <subitem title="Core Studies" url="resources/corestudies.html">
            
        </subitem>
        <subitem title="Discipleship Helps" url="resources/disciplehelp.html">
            
        </subitem>
        <subitem title="Audio" url="resources/audio.html">
            
        </subitem>
        <subitem title="Church Directory" url="resources/churchdirectory.html">
            
        </subitem>  
    </imageitem>
    <imageitem src="images/sitedesign/navigation/nav_about_combo_v2.png">
        <subitem title="Welcome" url="about/welcome.html">
            
        </subitem>
        <subitem title="Locations" url="about/locations.html">
            
        </subitem>
        <subitem title="Mission" url="about/mission.html">
            
        </subitem>
        <subitem title="Leadership" url="about/leadership.html">
            
        </subitem>
        <subitem title="Apprenticeship" url="http://www.ucmonline.ca/UCM/ministry_opportunities.html">
            
        </subitem>
        <subitem title="Gerard House" url="about/gerardhouse.html">
            
        </subitem>
        <subitem title="Alumni" url="about/alumni.html">
            
        </subitem>
        <subitem title="UCM Locator" url="http://ucmonline.ca/LOCATOR/locator.html">
            
        </subitem>
    </imageitem>
    <imageitem src="images/sitedesign/navigation/nav_give_combo_v2.png" url="give/give.html">
    </imageitem>
</ucmpage>